<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Task Manager</title>
</head>
<body>
  <div class="main w-full min-h-screen bg-zinc-900 text-white " >
    <a class="text-blue-500 inline-block mb-10" href="/">Go Back To Home</a>
    <form action="/edit" method="post">
      <input class="block px-5 py-2 bg-zinc-800 w-1/4 rounded-md outline-none " type="text" placeholder="Previous Name" name="previous" value="<%= filename %>" >
      <textarea class="block mt-2 px-5 py-2 bg-zinc-800 resize-none w-1/4 rounded-md outline-none mt-2" placeholder="New Name" name="newname"></textarea>
      <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Change Title">
    </form>
  </div>
</body>
</html>